@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');

body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .nav{
      background-color: #333;
      overflow: hidden;
    }

    .nava {
      float: left;
      display: flex;
      color: #f2f2f2;
      text-align: center;
      padding: 20px 26px;
      text-decoration: none;
      font-size: 25px;
      text-align: center;
      margin-top: 20px;
      font-family: "WDXL Lubrifont TC", sans-serif;
    }

    .nava:hover {
      
      color: rgb(231, 11, 11);
    }
    .img-nav{
        width: 20%;
        margin: 10px;
        border-radius: 50%;
        align-items: start;
        margin-left: 10px;
    
    }

