@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');
*{
    background-color: black;
}
body {
      margin: 0;
      font-family: "WDXL Lubrifont TC", sans-serif;
      
    }
    .nava{
        justify-content: center;
        display: flex;
        gap: 50px;
        text-align: center;
        font-family: "WDXL Lubrifont TC", sans-serif;
        font-size: 25px;
        color: #fff;
        padding: 7px;
        margin: 5px;
        transition: 0.5s ease-out;
    }
    .active{
        color: brown;

    }
    
    nav a{
        text-decoration: none;
        color: #fff;
    }
    nav :hover{
        cursor: pointer;
        color: brown;
        transition: 0.5s ease-in;
    }
    .img {
        padding: 10px;
        margin: 5px 0 5px 10px;
        background-color: black;
        transition: transform 0.5s ease, box-shadow 0.5s ease;
        justify-content: center;
        align-items: center;
    }

    .img:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 12px rgba(255, 255, 255, 0.3);
        
    }

    .container{
        background-color: black;
    }

    

